* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer {
  margin-top: 30px;
  padding: 20px 0;
  font-size: 14px;
  transition: all 0.3s;
  border-top: 1px solid #cddfff;
}
.footer .copyright {
  text-align: center;
  color: #012970;
}
.footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #012970;
}

/* ความยาวของช่องค้นหาในdatatable */
input[type="search"] {
  width: 550px;
}

/* ส่วนการตกแต่งตารางdatatable */
.dataTables_wrapper .dataTables_filter input:hover {
  border: 1px solid blue;
}
label {
  font-size: 18px;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  font-size: 18px;
}

table th {
  height: 80px;
}
table td {
  height: 80px;
}
table.dataTable th.dt-center,
table.dataTable td.dt-center,
table.dataTable td.dataTables_empty {
  vertical-align: middle;
}
td a img {
  padding: 5px;
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  margin-bottom: 20px;
}
/* .dataTables_wrapper .dataTables_length {
  float: right;
}
.dataTables_wrapper .dataTables_filter {
  float: left;
  text-align: left;
} */
